 body{
    background:linear-gradient(#b5ffd8,#ccffb5, #b5d8ff, #c0b5ff, #ffb5fe );
    font-family: 'Edu SA Beginner', cursive;
font-family: 'Kaushan Script', cursive;
 }
h5{
    font-style: light-bold;
}